.flex-container {
    display: flex;
    background-color: DodgerBlue;

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.flex-item {
    background-color: #f1f1f1;
    width: 100px;
    height: 100px;
}