body {
  background-color:coral;
}

.paragraph {
  font-size: 26px;
}

@media screen and (max-width: 800px) {
  body {
    background-color: crimson;
  }
}

@media screen and (min-width: 800px) {
  .paragraph {
    font-size: 36px;
  }
}

@media screen and (orientation: landscape) and (max-width: 800px) {
  h1 {
    text-decoration: underline;
  }
}

@media print {
  body {
    color: red;
  }
}