body {
  margin: 0;
  padding: 0;
}

.box {
  border: 5px solid black;
  background-color: gray;
  margin: 30px;
  padding: 20px;
}

.content {
  background-color: white;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}