body {
    font-size: 20px;
}

.bold {
    font-weight: 800;
}

.size {
    font-size: 36px;
}

.style {
    font-style: oblique;
}

.family {
    /* 1. Fallback: Arial, 2. Fallback: Irgendeine sans-sarif Schrift */
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.color {
    color: darkmagenta;
}

.background {
    background-color: lightpink;
}

.align {
    text-align: right;
}

.decoration {
    text-decoration: underline;
}

.transform {
    text-transform: uppercase;
}

.img-50 {
    height: auto;
    width: 50%;
    max-width: 50%;
}

.img-100 {
    height: auto;
    width: 100%;
}

.img-wrong {
    height: 200px;
    width: 1200px;
}